NUVEMSHOP_APP_ID=32468
NUVEMSHOP_CLIENT_SECRET=coloque_o_client_secret_aqui
DATABASE_URL=jdbc:postgresql://localhost:5432/whatsapp_checkout
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
WHATSAPP_VERIFY_TOKEN=crie_um_token_de_verificacao
WHATSAPP_ACCESS_TOKEN=token_da_meta_para_envio_futuro
WHATSAPP_PHONE_NUMBER_ID=id_do_numero_whatsapp
WHATSAPP_CATALOG_ID=id_do_catalogo_meta
WHATSAPP_API_BASE_URL=https://graph.facebook.com/v25.0
WHATSAPP_FLOWS_ENABLED=true
WHATSAPP_FLOW_ID=id_do_flow_publicado_na_meta
WHATSAPP_FLOW_CTA=Comprar agora
WHATSAPP_FLOW_MODE=published
WHATSAPP_FLOW_PRIVATE_KEY_PATH=C:\\caminho\\para\\flow-private-key.pem
CHECKOUT_MINIMUM_ORDER_TOTAL=200.00
FRONTEND_BASE_URL=http://localhost:8080/storefront/
CART_EXPIRATION_MINUTES=120
STOCK_SYNC_ENABLED=true
STOCK_SYNC_INTERVAL_MINUTES=10
ORDER_STATUS_SYNC_ENABLED=true
ORDER_STATUS_SYNC_INTERVAL_MINUTES=5
ORDER_STATUS_SYNC_LOOKBACK_DAYS=30

# Render/producao:
# FRONTEND_BASE_URL=https://SUA-URL-DO-RENDER.onrender.com/storefront/
# WHATSAPP_FLOW_PRIVATE_KEY_PATH=/etc/secrets/flow-private-key.pem
